In [1]:
import pandas as pd

In [2]:
filename = "C:/Users/m.pirela.escobar/OneDrive - Accenture/Documents/Courses/Data_Analyst/S10 - Working with Text Files/L24/Lending-Company-Saving.csv"

In [3]:
df = pd.read_csv(filename)
df.head()

   LoanID StringID    Product CustomerGender    Location    Region  TotalPrice
0       1     id_1  Product B           Male  Location 2  Region 2     16600.0
1       2     id_2  Product B           Male  Location 3       NaN     16600.0
2       3     id_3  Product C         Female  Location 5  Region 5     15600.0
3       4     id_4  Product B           Male  Location 6  Region 1     16600.0
4       5     id_5  Product D         Female  Location 7  Region 2     20250.0

In [4]:
df.to_csv('my-csv-file.csv')

In [5]:
df.to_json('my-csv-file.json')

In [6]:
df.to_excel('my-csv-file.xlsx')

In [7]:
# para exportarlo sin index
df.to_excel('my-csv-file.xlsx', index = False)

In [8]:
# Saving with Numpy
import numpy as np

In [12]:
lending_co = np.genfromtxt(filename, 
                                               delimiter = ',',
                                                dtype = np.str_)
print(lending_co)

[['LoanID' 'StringID' 'Product' ... 'Location' 'Region' 'TotalPrice']
 ['1' 'id_1' 'Product B' ... 'Location 2' 'Region 2' '16600.0']
 ['2' 'id_2' 'Product B' ... 'Location 3' '' '16600.0']
 ...
 ['1041' 'id_1041' 'Product B' ... 'Location 23' 'Region 4' '16600.0']
 ['1042' 'id_1042' 'Product C' ... 'Location 52' 'Region 6' '15600.0']
 ['1043' 'id_1043' 'Product B' ... 'Location 142' 'Region 6' '16600.0']]

In [13]:
np.save("Lending-Company-Saving", lending_co )

In [14]:
lending_data_save = np.load("Lending-Company-Saving.npy")

In [15]:
print(lending_data_save)

[['LoanID' 'StringID' 'Product' ... 'Location' 'Region' 'TotalPrice']
 ['1' 'id_1' 'Product B' ... 'Location 2' 'Region 2' '16600.0']
 ['2' 'id_2' 'Product B' ... 'Location 3' '' '16600.0']
 ...
 ['1041' 'id_1041' 'Product B' ... 'Location 23' 'Region 4' '16600.0']
 ['1042' 'id_1042' 'Product C' ... 'Location 52' 'Region 6' '15600.0']
 ['1043' 'id_1043' 'Product B' ... 'Location 142' 'Region 6' '16600.0']]

In [16]:
np.array_equal(lending_data_save, lending_co)

True

## np.savez()

In [18]:
# Create a npz files, useful for multiple arrays
np.savez("Lending-Company-Saving", lending_co, lending_data_save )

In [19]:
lending_data_savez = np.load("Lending-Company-Saving.npz")

In [22]:
# Para abrir el primer array guardado
# By default, the NPZ files stores each dataset as a separate array with a generic name 
print(lending_data_savez['arr_0'])

[['LoanID' 'StringID' 'Product' ... 'Location' 'Region' 'TotalPrice']
 ['1' 'id_1' 'Product B' ... 'Location 2' 'Region 2' '16600.0']
 ['2' 'id_2' 'Product B' ... 'Location 3' '' '16600.0']
 ...
 ['1041' 'id_1041' 'Product B' ... 'Location 23' 'Region 4' '16600.0']
 ['1042' 'id_1042' 'Product C' ... 'Location 52' 'Region 6' '15600.0']
 ['1043' 'id_1043' 'Product B' ... 'Location 142' 'Region 6' '16600.0']]

In [23]:
# Para diferenciar cada array guardado
np.savez("Lending-Company-Saving", company = lending_co, data_save =  lending_data_save )

In [24]:
lending_data_savez = np.load("Lending-Company-Saving.npz")

In [25]:
lending_data_savez.files

['company', 'data_save']

In [28]:
lending_data_savez["company"]

array([['LoanID', 'StringID', 'Product', ..., 'Location', 'Region',
        'TotalPrice'],
       ['1', 'id_1', 'Product B', ..., 'Location 2', 'Region 2',
        '16600.0'],
       ['2', 'id_2', 'Product B', ..., 'Location 3', '', '16600.0'],
       ...,
       ['1041', 'id_1041', 'Product B', ..., 'Location 23', 'Region 4',
        '16600.0'],
       ['1042', 'id_1042', 'Product C', ..., 'Location 52', 'Region 6',
        '15600.0'],
       ['1043', 'id_1043', 'Product B', ..., 'Location 142', 'Region 6',
        '16600.0']], dtype='<U14')

In [29]:
lending_data_savez["data_save"]

array([['LoanID', 'StringID', 'Product', ..., 'Location', 'Region',
        'TotalPrice'],
       ['1', 'id_1', 'Product B', ..., 'Location 2', 'Region 2',
        '16600.0'],
       ['2', 'id_2', 'Product B', ..., 'Location 3', '', '16600.0'],
       ...,
       ['1041', 'id_1041', 'Product B', ..., 'Location 23', 'Region 4',
        '16600.0'],
       ['1042', 'id_1042', 'Product C', ..., 'Location 52', 'Region 6',
        '15600.0'],
       ['1043', 'id_1043', 'Product B', ..., 'Location 142', 'Region 6',
        '16600.0']], dtype='<U14')

In [30]:
np.array_equal(lending_data_savez["company"], lending_data_savez["data_save"])

True

## Para guardarlos en np.savetext()

In [31]:
np.savetxt("Lending-Company-Saving.txt",
                   lending_co, 
                   fmt = '%s',
                   delimiter = ',')

In [33]:
lending_data_savetxt = np.genfromtxt("Lending-Company-Saving.txt",
                                         delimiter = ',',
                                         dtype = np.str_)
print(lending_data_savetxt)

[['LoanID' 'StringID' 'Product' ... 'Location' 'Region' 'TotalPrice']
 ['1' 'id_1' 'Product B' ... 'Location 2' 'Region 2' '16600.0']
 ['2' 'id_2' 'Product B' ... 'Location 3' '' '16600.0']
 ...
 ['1041' 'id_1041' 'Product B' ... 'Location 23' 'Region 4' '16600.0']
 ['1042' 'id_1042' 'Product C' ... 'Location 52' 'Region 6' '15600.0']
 ['1043' 'id_1043' 'Product B' ... 'Location 142' 'Region 6' '16600.0']]

In [34]:
lending_data_save = np.load("Lending-Company-Saving.npy")

In [35]:
np.array_equal(lending_data_savetxt, lending_data_save )

True