In [1]:
numbers = [1, 13, 4, 5, 63, 100]
numbers

[1, 13, 4, 5, 63, 100]

In [2]:
new_numbers = []

for n in numbers:
    new_numbers.append(n*2)
print(new_numbers)

[2, 26, 8, 10, 126, 200]

In [3]:
new_numbers = [n*2 for n in numbers]
new_numbers

[2, 26, 8, 10, 126, 200]

In [4]:
ex = [i for i in range(5)]
ex

[0, 1, 2, 3, 4]

In [5]:
# Vamos a convertir un nested loop a list comprehension 
for i in range(2):
    for j in range(5):
        print(i + j, end = ' ')

0 1 2 3 4 1 2 3 4 5

In [12]:
new_list_comprehension_1 = [i+j for i in range(2) for j in range(5)]
new_list_comprehension_1

[0, 1, 2, 3, 4, 1, 2, 3, 4, 5]

In [14]:
new_list_comprehension_1 = [[i+j for i in range(2)] for j in range(5)]
new_list_comprehension_1

[[0, 1], [1, 2], [2, 3], [3, 4], [4, 5]]

In [15]:
# Queremos generar una lista para todos los numeros del 1 al 10 que estén elevados a 3 y que sean impares 
[i**3 for i in range(1,10) if i %2 != 0]

[1, 27, 125, 343, 729]

In [16]:
for i in range(1, 10):
    if i %2 != 0:
        print(i**3, end = ' ')

1 27 125 343 729

In [18]:
# Queremos generar una lista para todos los numeros del 1 al 10 que estén elevados a 3 y que sean impares 
# se puede colocar el if antes porque le estamos dando una posibilidad a python de imprimir un valor en caso de que venga vacío el iterador 
# que en este caso son los números pares
[i**3  if i %2 != 0 else 'even' for i in range(1,10)]

[1, 'even', 27, 'even', 125, 'even', 343, 'even', 729]