In [6]:
# para insertar un string es %s

product_category = 'A'
print('This item is from product category "%s".' % product_category)

This item is from product category "A".

In [8]:
product_category = ['A', 'B']
print('This item is from product category "%s".' % product_category[1])

This item is from product category "B".

In [12]:
 # Para insertar un integer
quantities = [500, 600]
print('We currently have %d available units of this item' % quantities [0] )

We currently have 500 available units of this item

In [17]:
# Para insertar un float
stock_share_price_list = [40.5, 60.35]
print('This stock costs $%.2f per share.' % stock_share_price_list[1])

This stock costs $60.35 per share.

In [20]:
i = 0
print("Currently, we have %d units of category \"%s\" products in store." % (quantities[i], product_category[i]))

Currently, we have 500 units of category "A" products in store.

## Manipulating Python Strings

In [21]:
print('This product is from \nCategory "A". ')

This product is from
Category "A".

In [22]:
print('This product is from Category "A". \t That product is from Category "B". ')

This product is from Category "A". 	 That product is from Category "B".

In [24]:
# Sustituye valores al inicio del String con lo que está después de \r
print('This product is from Category "A". \rProduct 0001')

Product 0001

## Using Various Python String Methods

In [25]:
s = 'Price per unit'
s

'Price per unit'

In [27]:
# Para reemplazar parte de un string
s1 = s.replace('Price', 'Cost')
s1

'Cost per unit'

In [28]:
s1.startswith('Cost')

True

In [29]:
s1.startswith('cost')

False

In [33]:
s1.startswith('Price')

False

In [35]:
 s1.endswith('nit')

True

In [36]:
s1.endswith('nits')

False

In [37]:
s1

'Cost per unit'

In [38]:
s1.split()

['Cost', 'per', 'unit']

In [39]:
len(s1.split())

3

In [40]:
s1.split(' ')

['Cost', 'per', 'unit']

In [41]:
s1.split('per')

['Cost ', ' unit']

In [43]:
# ahora especificando el máximo de split a obtener
s1.split(' ', maxsplit= 0)
s1.split(' ', 3)

['Cost', 'per', 'unit']

In [44]:
s2 = 'Mr., Jonh, Wilson'

In [45]:
s2.split(',')

['Mr.', ' Jonh', ' Wilson']

In [46]:
s2.split(',')[0]

'Mr.'

In [47]:
s3 = 'Mrs. Amy Moore'

In [48]:
s3.upper()

'MRS. AMY MOORE'

In [49]:
s3.lower()

'mrs. amy moore'

In [50]:
s3.capitalize()

'Mrs. amy moore'

In [51]:
s3.title()

'Mrs. Amy Moore'

In [56]:
s3 == s3.title()

True

In [57]:
'Cost per unit'.title()

'Cost Per Unit'

In [58]:
s4 = '    quarterly earnings report    '

In [59]:
s4.strip()

'quarterly earnings report'

In [60]:
s4.strip(' ')

'quarterly earnings report'

In [62]:
s4.strip(' qt')

'uarterly earnings repor'

In [63]:
s4.lstrip()

'quarterly earnings report    '

In [64]:
s4.rstrip()

'    quarterly earnings report'

In [65]:
s4.strip(' quarterly')

'nings repo'

In [66]:
s5 = s4.strip()
s5

'quarterly earnings report'

In [67]:
s5.lstrip('quartely')

' earnings report'

In [68]:
s5.rstrip('report')

'quarterly earnings '

In [72]:
s6 = ' %&!quartely earnings report   *'

In [73]:
s6.strip('  °!@#&%^&*()')

'quartely earnings report'

## STRING ACCESSORS

In [74]:
import pandas as pd

In [77]:
operational_kpis=  pd.Series(['employee satisfaction rating', 'employee churn rate'])

In [78]:
# para eliminar palabra dentro de un DataFrame 
operational_kpis[0].lstrip('employee')

' satisfaction rating'

In [79]:
operational_kpis[1].lstrip('employee')

' churn rate'

In [81]:
pd.Series([operational_kpis[0].lstrip('employee'),operational_kpis[1].lstrip('employee') ])

0     satisfaction rating
1              churn rate
dtype: object

In [82]:
# PAra obtener acceso a los elementos del string en un Dataframe
operational_kpis.str[1]

0    m
1    m
dtype: object

In [83]:
operational_kpis[1]

'employee churn rate'

In [84]:
operational_kpis.str.lstrip('employee')

0     satisfaction rating
1              churn rate
dtype: object

In [85]:
test_series = pd.Series(['Text_data', 34])
test_series

0    Text_data
1           34
dtype: object

In [86]:
test_series.str.lstrip('Text_')

0    data
1     NaN
dtype: object

In [87]:
test_series = pd.Series(['Text_data', '34'])

In [88]:
test_series.str.lstrip('Text_')

0    data
1      34
dtype: object

In [89]:
house_prices = pd.Series(['$400,000', '$500,000', '$600,000'])
house_prices

0    $400,000
1    $500,000
2    $600,000
dtype: object

In [90]:
house_prices.str.contains("$")

0    True
1    True
2    True
dtype: bool

## Using .format() method

In [91]:
time_horizon = 1, 3, 12
time_horizon

(1, 3, 12)

In [92]:
products = ['Product A', 'Product B']
products

['Product A', 'Product B']

In [97]:
'Expected sales for a period of {} months(s) for {}:'.format(time_horizon[2], products[1])

'Expected sales for a period of 12 months(s) for Product B:'